@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
	--action-btn-text-color: hsl(26, 84%, 55%);
	--operation-btn-text-color: hsl(330, 1%, 51%);
	--normal-btn-text-color: hsl(330, 1%, 71%);
	--normal-btn-bg-color: hsl(207, 29%, 20%);
	--normal-btn-bg-color-active: hsl(207, 29%, 30%);
	--btn-shadow-top-color: hsl(209, 26%, 30%);
	--btn-shadow-bottom-color: hsl(207, 31%, 12%);
	--equal-btn-bg: hsl(26, 84%, 55%);
	--equal-btn-text-color: hsl(26, 100%, 83%);
	--equal-btn-bg-active: hsl(26, 83%, 65%);
	--calculator-bg-color: hsl(207, 29%, 20%);
	--calculator-shadow-color: hsl(207, 31%, 12%);
	--operation-text-color: hsl(220, 2%, 60%);
	--result-text-color: hsl(0, 0%, 99%);
	--outline-equal-btn: white;
	--theme-button-bg: hsl(0, 0%, 92%);
}

.light {
	/* Light Theme */

	/* Buttons */
	--action-btn-text-color: hsl(228, 3%, 62%);
	--normal-btn-text-color: hsl(0, 0%, 65%);
	--normal-btn-bg-color: hsl(330, 6%, 93%);
	--normal-btn-bg-color-active: hsl(0, 0%, 84%);
	--btn-shadow-top-color: hsl(0, 0%, 100%);
	--btn-shadow-bottom-color: hsl(0, 0%, 80%);

	/* Calculator */
	--calculator-shadow-color: hsl(0, 0%, 84%);
	--calculator-bg-color: hsl(0, 0%, 92%);
	--theme-button-bg: hsl(207, 29%, 20%);

	/* Text operations */
	--result-text-color: hsl(210, 23%, 20%);
	--outline-equal-btn: hsl(207, 31%, 12%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: hsl(25, 100%, 74%);
}

.calculator {
	margin: auto;
	background-color: var(--calculator-bg-color);
	padding: 3rem 0.8125rem 3.3125rem;
	border-radius: 50px;
	box-shadow: 2px 0px 2px var(--calculator-shadow-color);
	max-width: 20rem;
	position: relative;
}

.calculator__screen {
	text-align: end;
	padding: 0 0.8125rem;
	color: var(--result-text-color);
	margin-bottom: 2.0625rem;
	word-wrap: break-word;
}

.screen__result {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 5.5rem;
}

.screen__operation {
	min-height: 1.75rem;
	color: var(--operation-text-color);
	font-size: 1.3rem;
	margin: 0;
}

.calculator__buttons {
	display: grid;
	grid-template-columns: repeat(4, minmax(2rem, 4rem));
	grid-template-rows: repeat(5, 3rem);
	gap: 1rem;
}

.digitButton {
	padding: 0.3rem;
	color: var(--normal-btn-text-color);
	background-color: var(--normal-btn-bg-color);
	font-size: 1.2rem;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 2px 10px var(--btn-shadow-bottom-color),
		0px -2px 5px var(--btn-shadow-top-color);
	outline: transparent;
	transition: outline-color 0.5s;
}
.digitButton:hover {
	cursor: pointer;
}

.digitButton:focus-visible {
	outline: var(--equal-btn-bg) 2px solid;
}

.digitButton:active {
	background-color: var(--normal-btn-bg-color-active);
}

.action-btn {
	color: var(--action-btn-text-color);
}

.equal {
	grid-column: span 2;
	background-color: var(--equal-btn-bg);
	color: var(--equal-btn-text-color);
}

.equal:active {
	background-color: var(--equal-btn-bg-active);
}

.equal:focus-visible {
	outline: var(--outline-equal-btn) 2px solid;
}

.disableButton {
	--action-btn-text-color: hsl(26, 14%, 55%);
	opacity: 0.3;
}

.themeButton {
	background-color: var(--theme-button-bg);
	border: none;
	border-radius: 50px;
	height: 1.2em;
	width: 3em;
	position: absolute;
	left: -10rem;
	top: 20%;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.themeButton button {
	position: absolute;
	background-color: var(--calculator-bg-color);
	left: 0%;
	border: none;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.5s;
}

.themeButtonTransition {
	transform: translateX(2rem);
}

@media (max-height: 47.125em) {
	*,
	*::after,
	*::before {
		font-size: 0.9rem;
	}
}

@media (max-width: 650px) {
	.themeButton {
		left: 2rem;
		top: -3rem;
	}
}
